	<div class="loginbox">
		<h3>Login:</h3><br>
		<form id="login" name="login" autocomplete="off" method="post" action="/login">
			<div class="content">
				<label>Username:</label>
				<br><input type="text" name="username" autocomplete="on" required="required" autofocus="on"></input>
				<br><label>Password:</label>
				<br><input type="password" name="password" required="required"></input>
				<br><br><button type="submit">Login</button>
			</div>
		</form>
	</div>