<h1> warning! </h1>


<form id="setupdb" name="setupdb" autocomplete="off" method="post" action="/setupdb">
			<div class="content">
				<button type="submit">WARNING!!!!!</button>
			</div>
		</form>